# Analysis Objective 

The ojective of the analysis is to answer the following question to complete my **Investigate a Data Set** project from the **Data Analyst** course in Udacity. My analysis will answer the following questions:

1. What Census data is most associated with high gun per capita
2. Which states have had the highsest growth in gun registrations
3. What is the overall trend of gun purchases
4. In what year/month was the highest number of guns purchased and by what state

The 2 datasets I will be working with are the 'gun_data' (FBI Gun Data) and US_Census_Data (U.S.census data). I will follow the data wrangling process by:

- Cleaning the datasets ('gun_data' & 'US_Census_Data')
- Exploring the datasets 
- Drawing Conclusions
- Communicate my results

In [1]:
# importing all the libraries I am likely to use for my analysis.
import pandas as pd 
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cleaning the dataset - Gun Data

In [2]:
# loaded the gun data to read it
gun_data = pd.read_csv('./gun_data.csv', parse_dates = True)
gun_data.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

### Since my analysis will focus on gun type, I will remove all columns that aren't gun type and sold guns

In [3]:
# Removing columns I don't need for my analysis, Since my analysis will focus on gun types, 
# I will remove all columns that aren't gun types using the below code. 
gun_data.drop(columns=['returned_handgun','returned_long_gun','returned_other','returned_handgun','returned_long_gun',
                      'returned_other','rentals_handgun','rentals_long_gun','return_to_seller_handgun','return_to_seller_long_gun',
                      'return_to_seller_other'], axis = 1, inplace = True)
gun_data.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,redemption_handgun,redemption_long_gun,redemption_other,private_sale_handgun,private_sale_long_gun,private_sale_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,21.0,2.0,1378.0,1262.0,1.0,9.0,16.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,2.0,0.0,200.0,154.0,2.0,17.0,24.0,1.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,6.0,0.0,1474.0,748.0,3.0,38.0,12.0,2.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,13.0,0.0,1296.0,1824.0,4.0,13.0,23.0,0.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,0.0,0.0,535.0,397.0,5.0,0.0,0.0,0.0,123506

In [4]:
# checking the data type per column to confirm if represents the data in the columns
gun_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month                  12485 non-null  object
 1   state                  12485 non-null  object
 2   permit                 12461 non-null  float64
 3   permit_recheck         1100 non-null   float64
 4   handgun                12465 non-null  float64
 5   long_gun               12466 non-null  float64
 6   other                  5500 non-null   float64
 7   multiple               12485 non-null  int64
 8   admin                  12462 non-null  float64
 9   prepawn_handgun        10542 non-null  float64
 10  prepawn_long_gun       10540 non-null  float64
 11  prepawn_other          5115 non-null   float64
 12  redemption_handgun     10545 non-null  float64
 13  redemption_long_gun    10544 non-null  float64
 14  redemption_other       5115 non-null   float64
 15  private_sale_handgun   2750 non-null   float64
 16  private_sale_long_gun  2750 non-null   float64
 17  private_sale_other     2750 non-null   float64
 18  totals                 12485 non-null  int64
dtypes: float64(15), int64(2), object(2)
memory usage: 1.8+ MB

In [5]:
# Replaced NaN values with zeros while also confirming with the written code
gun_data.fillna(0, inplace = True)
gun_data.isnull().sum()

month                    0
state                    0
permit                   0
permit_recheck           0
handgun                  0
long_gun                 0
other                    0
multiple                 0
admin                    0
prepawn_handgun          0
prepawn_long_gun         0
prepawn_other            0
redemption_handgun       0
redemption_long_gun      0
redemption_other         0
private_sale_handgun     0
private_sale_long_gun    0
private_sale_other       0
totals                   0
dtype: int64

In [6]:
# changing data type of all gun types and sold guns from float to int since a float isn't the appropriate data types for gun 
# ownership e.g you can't own 2.4 gun or 7.9 gun, you either have 1 gun 14, 16 on any whole #
column_conversion = gun_data.iloc[:, np.r_[2:7, 8:18]]
for c in column_conversion:
    gun_data[c] = gun_data[c].astype(int)

In [7]:
# Checking to see if data types for types of guns and sold guns has changed to int 
gun_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month                  12485 non-null  object
 1   state                  12485 non-null  object
 2   permit                 12485 non-null  int64
 3   permit_recheck         12485 non-null  int64
 4   handgun                12485 non-null  int64
 5   long_gun               12485 non-null  int64
 6   other                  12485 non-null  int64
 7   multiple               12485 non-null  int64
 8   admin                  12485 non-null  int64
 9   prepawn_handgun        12485 non-null  int64
 10  prepawn_long_gun       12485 non-null  int64
 11  prepawn_other          12485 non-null  int64
 12  redemption_handgun     12485 non-null  int64
 13  redemption_long_gun    12485 non-null  int64
 14  redemption_other       12485 non-null  int64
 15  private_sale_handgun   12485 non-null  int64
 16  private_sale_long_gun  12485 non-null  int64
 17  private_sale_other     12485 non-null  int64
 18  totals                 12485 non-null  int64
dtypes: int64(17), object(2)
memory usage: 1.8+ MB

In [8]:
# Also changing dtype for month to datetime as that is the appropriate data type
gun_data['month'] = pd.to_datetime(gun_data['month'])

In [9]:
# Checking to see if data types for 'month' has changed
gun_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month                  12485 non-null  datetime64[ns]
 1   state                  12485 non-null  object
 2   permit                 12485 non-null  int64
 3   permit_recheck         12485 non-null  int64
 4   handgun                12485 non-null  int64
 5   long_gun               12485 non-null  int64
 6   other                  12485 non-null  int64
 7   multiple               12485 non-null  int64
 8   admin                  12485 non-null  int64
 9   prepawn_handgun        12485 non-null  int64
 10  prepawn_long_gun       12485 non-null  int64
 11  prepawn_other          12485 non-null  int64
 12  redemption_handgun     12485 non-null  int64
 13  redemption_long_gun    12485 non-null  int64
 14  redemption_other       12485 non-null  int64
 15  private_sale_handgun   12485 non-null  int64
 16  private_sale_long_gun  12485 non-null  int64
 17  private_sale_other     12485 non-null  int64
 18  totals                 12485 non-null  int64
dtypes: datetime64[ns](1), int64(17), object(1)
memory usage: 1.8+ MB

# Cleaning the dataset - US Census Data

In [10]:
# loaded the US Census data to read it
US_Census_Data = pd.read_csv('./US_Census_Data.csv')
US_Census_Data.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [11]:
# Changing column formats to all lower case while replacing "  "/Spaces with " _ "/underscore
US_Census_Data.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
US_Census_Data.head()

,fact,fact_note,alabama,alaska,arizona,arkansas,california,colorado,connecticut,delaware,...,south_dakota,tennessee,texas,utah,vermont,virginia,washington,west_virginia,wisconsin,wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [12]:
# Removing 'fact_note' column since this won't help with my analysis and checking to confirm removal
US_Census_Data.drop(['fact_note'], axis = 1, inplace = True)
US_Census_Data.head(1)

,fact,alabama,alaska,arizona,arkansas,california,colorado,connecticut,delaware,florida,...,south_dakota,tennessee,texas,utah,vermont,virginia,washington,west_virginia,wisconsin,wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"

In [13]:
# Checking the # of Nan per column 
US_Census_Data.isnull().sum()

fact               5
alabama           20
alaska            20
arizona           20
arkansas          20
california        20
colorado          20
connecticut       20
delaware          20
florida           20
georgia           20
hawaii            20
idaho             20
illinois          20
indiana           20
iowa              20
kansas            20
kentucky          20
louisiana         20
maine             20
maryland          20
massachusetts     20
michigan          20
minnesota         20
mississippi       20
missouri          20
montana           20
nebraska          20
nevada            20
new_hampshire     20
new_jersey        20
new_mexico        20
new_york          20
north_carolina    20
north_dakota      20
ohio              20
oklahoma          20
oregon            20
pennsylvania      20
rhode_island      20
south_carolina    20
south_dakota      20
tennessee         20
texas             20
utah              20
vermont           20
virginia          20
washington        20
west_virginia     20
wisconsin         20
wyoming           20
dtype: int64

In [14]:
# Checking the distribution of NaN values per columns and row to decide wheather to drop or replace with a mean
US_Census_Data.tail(21)

,fact,alabama,alaska,arizona,arkansas,california,colorado,connecticut,delaware,florida,...,south_dakota,tennessee,texas,utah,vermont,virginia,washington,west_virginia,wisconsin,wyoming
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: FIPS Code values are enclosed in quotes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Value Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Fact Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,(b),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,(c),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Value Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,FN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Since Nan values are spread across rows & columns, I will be dropping them
US_Census_Data.dropna(axis = 0)

,fact,alabama,alaska,arizona,arkansas,california,colorado,connecticut,delaware,florida,...,south_dakota,tennessee,texas,utah,vermont,virginia,washington,west_virginia,wisconsin,wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,"Veteran-owned firms, 2012","41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012","316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010","50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [19]:
US_Census_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fact            80 non-null     object
 1   alabama         65 non-null     object
 2   alaska          65 non-null     object
 3   arizona         65 non-null     object
 4   arkansas        65 non-null     object
 5   california      65 non-null     object
 6   colorado        65 non-null     object
 7   connecticut     65 non-null     object
 8   delaware        65 non-null     object
 9   florida         65 non-null     object
 10  georgia         65 non-null     object
 11  hawaii          65 non-null     object
 12  idaho           65 non-null     object
 13  illinois        65 non-null     object
 14  indiana         65 non-null     object
 15  iowa            65 non-null     object
 16  kansas          65 non-null     object
 17  kentucky        65 non-null     object
 18  louisiana       65 non-null     object
 19  maine           65 non-null     object
 20  maryland        65 non-null     object
 21  massachusetts   65 non-null     object
 22  michigan        65 non-null     object
 23  minnesota       65 non-null     object
 24  mississippi     65 non-null     object
 25  missouri        65 non-null     object
 26  montana         65 non-null     object
 27  nebraska        65 non-null     object
 28  nevada          65 non-null     object
 29  new_hampshire   65 non-null     object
 30  new_jersey      65 non-null     object
 31  new_mexico      65 non-null     object
 32  new_york        65 non-null     object
 33  north_carolina  65 non-null     object
 34  north_dakota    65 non-null     object
 35  ohio            65 non-null     object
 36  oklahoma        65 non-null     object
 37  oregon          65 non-null     object
 38  pennsylvania    65 non-null     object
 39  rhode_island    65 non-null     object
 40  south_carolina  65 non-null     object
 41  south_dakota    65 non-null     object
 42  tennessee       65 non-null     object
 43  texas           65 non-null     object
 44  utah            65 non-null     object
 45  vermont         65 non-null     object
 46  virginia        65 non-null     object
 47  washington      65 non-null     object
 48  west_virginia   65 non-null     object
 49  wisconsin       65 non-null     object
 50  wyoming         65 non-null     object
dtypes: object(51)
memory usage: 34.0+ KB

In [21]:
column_conversions = US_Census_Data.iloc[:, np.r_[1:51]]
for b in column_conversions:
    US_Census_Data[b] = US_Census_Data[b].astype(int)

ValueError: invalid literal for int() with base 10: '4,863,300'

In [20]:
pd.plotting.scatter_matrix(US_Census_Data,figsize=(15,15));

ValueError: Number of columns must be a positive integer, not 0